.header {
    &__inner {
        border-bottom: 1px solid rgba(0,0,0,.2);
        padding-bottom: 10px;
        &_wrapper {
            display: flex;
            justify-content: space-between;
            padding-top: 21px;
        }
        &_item {
            &_list {
                display: flex;
                &_type {
                    margin: 0 18px;
                    &:first-child {
                        margin-left: 0;
                    }
                    select {
                        border: none;
                        width: 90px;
                    }
                    a {
                        font-family: 'PT Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 23px;
                        color: #1D1818;
                        text-decoration: none;
                        &:hover {
                            color: gray;
                            transition: all .3s;
                        }
                    }
                }
            }
        }
    }
    &__info {
        &_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 18px;
        }
        &_adress {
            &_block {
                &_text {
                    font-family: 'PT Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 23px;
                    color: #1D1818;
                }
                &_link {
                    a {
                        font-family: 'PT Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 23px;
                        text-decoration-line: underline;
                        color: #E13B3F;
                        &:hover {
                            color: gray;
                            transition: all .3s;
                        }
                    }
                }
            }
        }
        &_search {
            &_input {
                width: 296px;
                height: 45px;
                border: 1px solid #A8D1E7;
                border-radius: 25px;
                padding-left: 25px;
            }
        }
        &_tel {
            &_block {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &_link {
                a {
                    font-family: 'PT Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 28px;
                    color: #1D1818;
                    text-decoration: none;
                    &:hover {
                        color: gray;
                        transition: all .3s;
                    }
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
        &_icons {
            display: flex;
            &_icon {
                margin: 0 18px;
                &_link {
                    margin-top: 10px;
                    a {
                        font-family: 'PT Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 23px;
                        color: #1D1818;
                        text-decoration: none;
                        &:hover {
                            color: gray;
                            transition: all .3s;
                        }
                    }
                }
                &_image {
                    text-align: center;
                }
            }
        }
    }
    &__menu {
        width: 100%;
        background: #A8D1E7;
        margin-top: 14px;
        &_wrapper {
            display: flex;
        }
        &_item {
            width: 12.5%;
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            color: #000;
            cursor: pointer;
            text-align: center;
            padding: 15px 0;
            &:hover {
                background: #384685;
                color: #fff;
                transition: all .3s;
            }
            &_active {
                color: #999999;
            }
        }
    }
    &__menu_logo {
        display: none;
    }
    &__inner_logo {
        display: none;
    }
    &__menu_where {
        display: none;
    }
    &__menu_icons {
        display: none;
    }
    &__burger_menu {
        display: none;
    }
}